/* https://moderncss.dev/pure-css-custom-checkbox-style/ */

input[type="checkbox"]::before {
  content: "";
  transform: scale(0);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1.1);
}
