.rdw-editor-main a {
  color: rgb(59 130 246);
}

.rdw-editor-main a:hover {
  color: rgb(37 99 235);
}

.rdw-link-modal {
  height: auto !important;
  width: auto !important;
  white-space: nowrap;
}

.rdw-link-modal-target-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.public-DraftStyleDefault-block:first-child {
  margin-top: 0.5em;
}

.public-DraftStyleDefault-ol:first-child,
.public-DraftStyleDefault-ul:first-child {
  margin-top: 0.5em;
}
